@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Russo+One') format('woff2');
  font-display: swap;
}

body {
  font-family: "Russo One", sans-serif;
}

p{
  text-align: justify;
}

#image-caption{
  font-size: 12px;
}

#navbar {
  background-color:#A4BE7B;
}

#trash-images{
  width:600px;
  height:400px;
}

#trash-images-left{
  width:600px;
  height:400px;
  max-width: 100%;
}

#trash-images-right{
  width:600px;
  height:400px;
  max-width: 100%;
}

#footer {
  background-color:#A4BE7B;
  color: black;
}

.text{
  text-align: justify;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}